<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecej.mapper.RoleMapper">
	<resultMap type="com.ecej.pojo.Role" id="roleMap">
		<id property="rid" column="rid" />
		<result property="rname" column="rname" />
		<collection property="modules" ofType="com.ecej.pojo.Module">
			<id property="mid" column="mid" />
			<result property="mname" column="mname" />
		</collection>
	</resultMap>
	<select id="getRoleList" resultMap="roleMap">
		select *
		from role r left join module_role mr
		on r.rid=mr.rid
		left join module m
		on mr.mid=m.mid
	</select>

</mapper>
